@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100dvh;
    overflow: hidden;
}

body {
    background: #fdf6e3;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overscroll-behavior: none;
    touch-action: manipulation;
}

/* MOBILE SAFE AREAS */
.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

/* PREVENT IOS INPUT ZOOM */
input,
textarea,
select {
    font-size: 16px;
}

/* SMOOTHER SCROLLING */
* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}